<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405686842283-cddbu68lh4luigdk48uornc68pibgqf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405686842283-cddbu68lh4luigdk48uornc68pibgqf1</string>
	<key>API_KEY</key>
	<string>AIzaSyCpJ0-W_2i4OLi2cwsx_BpNH5eODZt4l18</string>
	<key>GCM_SENDER_ID</key>
	<string>405686842283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martialapp</string>
	<key>PROJECT_ID</key>
	<string>martialapp-9eeaf</string>
	<key>STORAGE_BUCKET</key>
	<string>martialapp-9eeaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405686842283:ios:397517d6f639313bb098ee</string>
</dict>
</plist>